html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.loader {
    border-top: 16px solid #102A43;
    border-right: 16px solid #243B53;
    border-bottom: 16px solid #334E68;
    border-left: 16px solid #486581;
    border-radius: 70%;
    animation: spin 0.5s linear infinite;
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}