html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.loader {
    border-top: 16px solid #102A43;
    border-right: 16px solid #243B53;
    border-bottom: 16px solid #334E68;
    border-left: 16px solid #486581;
    border-radius: 70%;
    animation: spin 0.5s linear infinite;
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    text-align: center;
    position:fixed;
}

#footer_block {
    display: block;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding-bottom: env(safe-area-inset-bottom);
    margin-bottom: 1.6em;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#footer_block2 {
    display: block;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding-bottom: env(safe-area-inset-bottom);
    margin-bottom: 0.3em;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    animation-fill-mode: forwards;
    animation-delay: 7s;
}

.footer_span {
    color: rgba(250, 250, 250, 0.658);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: inline;
    bottom: 0;
}

.footer_span2 {
    color: rgba(250, 250, 250, 0.781);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: inline;
    bottom: 0;
}

.footer_link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}